footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: 18%;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-media-icons a img {
    width: 25px;
    margin-right: 10px;
}





.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-selector button {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.language-selector button:hover {
    background-color: #555;
}

social-media-icons{
  
    color: White;
    transition: 0.4s ease;
    
}
